body {
  font-family: Arial;
  padding: 20px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

li {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}
